:root {
  --primary-color: #991b1b;
  --background: #ffffff;
  /*--surface: #f9fafb;*/
  --text-primary: #111827;
  --text-secondary: #6b7280;
  --text-thertiary: #ffffff; /* check if "thertiary" is ok */
  --border: #d1d5db;
  --shadow-primary: rgba(0, 0, 0, 0.1);
  --shadow-secondary: #374151;
  --success: #166f42; /* any better name ?*/
  --min-page-width: 375px;
  --max-page-width: 1200px;
}

[data-theme="dark"] {
  --primary-color: #991b1b;
  --background: #111827;
  /*--surface: #1f2937;*/
  --text-primary: #f9fafb;
  --text-secondary: #9ca3af;
  --text-thertiary: #ffffff; /* check if "thertiary" is ok */
  --border: #4b5563;
  --shadow-primary: rgba(0, 0, 0, 0.3);
  --shadow-secondary: #6b7280;
  --success: #166f42;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* eslint-disable-next-line css/require-baseline */
  overscroll-behavior: none;
  min-width: var(--min-page-width);
}

body {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  background: var(--background);
  color: var(--text-primary);
  line-height: 1.6;
}

footer {
  text-align: center;
  padding: 2rem 1.25rem;
  background: var(--primary-color);
  color: var(--text-thertiary);
}

h1 {
  font-size: 1.75rem;
  color: var(--primary-color);
}

h2 {
  text-align: center;
  font-size: 2.25rem;
}

h3 {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

address {
  font-style: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: var(--background);
  border-radius: 0 0 1rem 1rem;
}

thead,
tr:not(:last-child) {
  border-bottom: 1px solid var(--border);
}

tr:hover {
  background: var(--text-secondary); /*set hover color*/
}

th {
  background: var(--background);
  font-weight: 600;
  color: var(--text-primary);
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

td {
  color: var(--text-primary);
}

th,
td {
  padding: 0.5rem;
  text-align: left;
}

.header {
  background: var(--background);
  position: sticky;
  top: 0;
}

.header-container {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  padding: 1rem 1.25rem;
  max-width: var(--max-page-width);
  margin: 0 auto;
}

.logo {
  width: 40px;
  height: 40px;
  background: var(--primary-color);
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-thertiary);
  font-weight: bold;
  font-size: 1.5rem;
}

.info {
  background: var(--primary-color);
  color: var(--text-thertiary);
}

.info-container {
  max-width: var(--max-page-width);
  padding: 4rem 1.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  margin: 0 auto;
}

.info-card {
  background: var(--background);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 16px var(--shadow-secondary);
  color: var(--text-secondary);
  width: 100%;
}

.rates {
  max-width: var(--max-page-width);
  margin: 0 auto;
  padding: 4rem 1.25rem;
}

.rates-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.rates-card {
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 4px 16px var(--shadow-primary);
  border: 1px solid var(--border);
}

.rates-card header {
  padding: 1.5rem;
  background: var(--primary-color);
  color: var(--text-thertiary);
  border-radius: 1rem 1rem 0 0;
}

.rates-card h3 {
  color: var(--text-thertiary);
}

.currency {
  font-weight: 600;
  color: var(--primary-color);
}

.purchase {
  font-weight: 600;
  color: var(--success);
}

.sale {
  font-weight: 600;
  color: var(--primary-color);
}

@media (max-width: 800px) {
  th,
  td {
    padding: 0.75rem 1rem;
  }

  .header-container {
    justify-content: center;
  }

  .info-container,
  .rates-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.125rem;
  }

  footer {
    font-size: 0.75rem;
  }

  th,
  td {
    font-size: 0.75rem;
  }

  .info-container {
    padding: 2rem 1.25rem;
  }

  .rates {
    padding: 2rem 1.25rem;
  }

  .rates-card header {
    font-size: 0.875rem;
    padding: 1rem;
  }
}
