:root:not([data-theme]) {
  --pico-primary: var(--pico-primary-background);
  --pico-primary-hover: var(--pico-primary-hover-background);
  --pico-primary-underline: var(--pico-primary);
  --pico-primary-hover-underline: var(--pico-primary-hover-background);
  --pico-h1-color: var(--pico-primary);
}
