name: Integration tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
       node-version-file: .nvmrc

    - name: Install dependencies
      run: npm ci

    - name: Setup API
      run: |
        cp ./packages/api/.env.ci ./packages/api/.env
        cp ./packages/api/db.dump.json ./packages/api/db.json

    - name: Setup website
      run: |
        cp ./packages/website/.env.ci ./packages/website/.env
        npm run assets:build -w packages/website

    - name: Start servers
      run: npm start

    - name: Run integration tests
      run: npm test -w packages/website
